* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4d4d4d;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('/EficienciaEnergetica/acess/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 5%;
    z-index: -1; 
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #58585e;
    padding: 15px 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
    box-shadow: 0 10px 20px black;
    border: 1px solid rgb(255, 255, 160);
}

h1{
    white-space: nowrap;
    overflow: hidden;
    width: 20ch; /* 26 caracteres */
    border-right: 3px solid #fbff00;
    animation:
        digita 3s steps(20) infinite alternate,
        pisca 0.6s step-end infinite;
    }
    @keyframes digita { from { width: 0; } }
    @keyframes pisca {
    50% { border-color: transparent; }
}

h1, h2, h3{
    color: #F87400;
    padding: 10px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #48484e;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #707070;
    
}

header nav a:hover {
    background-color: #38383e;
}

header nav a img {
    height: 40px;
    display: block;
}

.inicio{
    display: grid;
}

.inicio h1{
    grid-column: 1;
    margin: 20% 20% 0% 20%;
    font-size: 50px;
    
}

.inicio h3{
    grid-column: 1;
    margin: 0% 20% 0% 20%;
    font-size: 30px;
}

.inicio button{
    grid-column: 1;
    margin: 0% 20% 15% 20.5%;
    background-color: #F87400;
    height: 35px;
    width: 200px;
    border: none; 
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inicio button:hover {
    background-color: #fa9740;
}

.cardDescricao{
    display: flex;
    background-color: #fffeee;
    margin: 0% 25% 20%;
    padding: 20px;
    align-items: center;

    
}

.cardDescricao p {
    margin: 2%;
    font-size: 20px;
}

.cardDescricao img{
    background-color: #707070;
    min-height: 200px;
    min-width: 300px;
    margin: 2%;
}

.cardCalculadora{
    background-color: #F87400;
    margin: 10% 30%;
    padding: 30px;
    border-radius: 20px;
}

.cardCalculadora h2{
    color: #000000;
    margin: 2%;
    font-size: 30px;
}

.botao2{
    background-color: white;
    border-color: #fa9740;
    width: 40%;
    padding: 15px;
}

.cardCalculadora p{
    background-color: white;
    padding: 100px;
    margin-top: 5%;
}

form{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

input, textarea{
    padding: 10px;
    border: none;
}

label{
    background-color: white;
    padding: 5px;
}

.botao{
    background-color: #F87400;
    border: 0;
    width: 100%;
    padding: 15px;
    z-index: 1;
    
}

.enviarEmail{
    background-color: #fffeee;
    margin: 20%;
    padding: 20px;
    display: grid;
}

.areaEmail{
    background-color: #F87400;
    grid-column: 1;
    margin: 5%;
}

.areaAcesso{
    grid-column: 2;
    /* border: #000000 1px solid; */
    text-align: center;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.gmail{
    height: 50px;
}
.outlook{
    height: 70px;
}
.yahoot{
    height: 50px;
}

.areaEmail button{
    padding: 10px;
    background-color: #ffffff;
    border: none;
}


.enviarEmail h2{
    margin: 2%;
}

button:hover {
    background-color: #ffa45a;
    transform: translateY(-3px);
}

footer{
    height: 100px;
    background-color:#58585e;
}

button:active {
  transform: translateY(-2px) scale(0.97);
}


/* .inicioSite figure{
    grid-column: 2;
    margin: 0% 00% 70% 0%;
    
} */

@media (max-width: 900px) {
    nav {
        flex-direction: column;
        gap: 12px;
    }

    nav a {
        width: 100%;
    }

    nav a:nth-child(4) {
        order: -1;
    }

    .objetivoBox{
    margin: 0% 10% 0% 10%;
    }

    .cardsProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 10% 0% 10%;
    }
    .card{
    background-color: #fffeee;
    border-radius: 20px;
    min-height: 300px;
    min-width: 200px;
    border: 1px solid #000000;
    margin: 2% 5% 2% 5%;
    }
    .cardSobre button{
    grid-column: 1;
    }
    .cardSobre{
    padding: 20px;
    margin: 10% 10%;
    ;
    }
    .logoMenu{
        margin-left: 47%;
    }

    .cardCalculadora{
        margin: 20%;
    }

    .gmail{
    height: 30px;
    }
    .outlook{
        height: 50px;
    }
    .yahoot{
        height: 30px;
    }
}

